* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100px;
  width: 1200px;
  background-color: white;

  margin-right: auto;
  margin-left: auto;
}

#banner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: black;
}

#container {
  height: 790px;
  width: 1200px;
  /* margin-right: auto;
  margin-left: auto; */
  background-color: white;
  color: white;
  padding-top: 50px;
}

#container1 {
  height: 790px;
  width: 1100px;
  /* margin-right: auto;
  margin-left: auto; */
  background-color: transparent;
  color: white;
  margin: 30px;
}
#container2 {
  border-top: 2cm;
  height: 600px;
  width: 950px;
  margin-right: auto;
  margin-left: auto;
  background-color: gray;
  color: black;
}
#leftcontainersch {
  height: 500px;
  width: 500px;
  /* margin: 40px; */
  margin-left: 20px;
  background-color: transparent;
  color: black;
  border-radius: 20px;
  float: left;
  border: #000 solid;
}

#containerSched {
  height: 700px;
  width: 1200px;
  background-color: transparent;
  padding-top: 20px;
  border-radius: 20px;

  border-style: groove;
}
#rightcontainersch {
  height: 310px;
  width: 310px;
  background-color: transparent;
  border-radius: 20px;
  float: left;
  margin-left: 20px;
  border: #000 solid;
}
#rightmostcontainersch {
  height: 310px;
  width: 310px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 20px;
  float: left;
  border: #000 solid;
}

#banner .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  height: 70px;
}

#banner .MySign span {
  padding-left: 10px;
  color: red;
}

#banner .MySign {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline-block;
  padding: 0px 25px;
}
.menu ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: purple;
  top: 110%;
  left: 0;
  border-radius: 5px;
  transition: 0.4s;
  transform: scale(0);
}
.menu ul li a:hover::after {
  transform: scale(1);
}

.HomeA {
  text-decoration: none;
}
.inforText {
  height: 685px;
  width: 500px;
  padding: 0 5%;
  padding-top: 20%;
  float: left;
}
#photo {
  height: 660px;
  width: 700px;
  padding: 0 8%;
  padding-top: 1%;
  float: left;
  background-image: url('aboutmepic.png');
  border-radius: 50%;
}

#footer {
  height: 190px;
  width: 1200px;
  background-color: white;
  color: white;
  text-align: center;
}
.nav ul li {
  padding-left: 50%;
}

#footer ul {
  list-style: none;
}

#footer ul li {
  display: inline-block;
  padding-right: 60px;
  padding-top: 55px;
}
#footer ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#footer ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: purple;
  top: 110%;
  left: 0;
  border-radius: 5px;
  transition: 0.4s;
  transform: scale(0);
}
#footer ul li a:hover::after {
  transform: scale(1);
}

/*  Myport CSS */

.ContentTitle {
  text-align: center;
  text-transform: uppercase;
}

#FormDivContact {
  border-radius: 5px;
  margin-top: 320px;
  width: 900px;
  height: 760px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* This is Log In Form  */
#FormDivLogin {
  border-radius: 5px;
  /* margin-top: 250px; */
  width: 500px;
  height: 670px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  /* top: 19%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  margin-top: 0px;
  margin-left: 320px;
}
#FormDivreset {
  border-radius: 5px;
  /* margin-top: 250px; */
  width: 500px;
  height: 670px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  /* top: 19%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  margin-top: 0px;
  margin-left: 320px;
}
/* Update Setting  */
#FormDivSetting {
  margin-top: 5px;
  margin-left: 60px;
  width: 500px;
  height: 650px;
  background-color: white;

  /* box-shadow: 0 0 10px 0 purple; */
  border: #000 solid;
  /* top: 19%;
  left: 50%; */
  /* transform: translate(0%, -50%); */
  position: absolute;
  float: left;
  border-radius: 2em;
  box-shadow: 0 0 10px 0 black;
}
#FormDivSetting2 {
  margin-top: 5px;
  margin-left: 10px;
  width: 500px;
  height: 650px;

  /* box-shadow: 0 0 10px 0 purple; */

  /* top: 19%;
  left: 50%; */
  /* transform: translate(0%, -50%); */

  float: left;
  border-radius: 2em;
}

/* This is Sign up Form  */
#FormDivSignup {
  /* border-radius: 5px;
  margin-top: 250px;
  width: 500px;
  height: 670px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;

  position: absolute; */
  border-radius: 5px;
  /* margin-top: 250px; */
  width: 500px;
  height: 670px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  /* top: 19%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  margin-top: 0px;
  margin-left: 320px;
}
#FormDivSetting3 {
  margin-top: 5px;
  width: 500px;
  height: 650px;
  background-color: white;
  margin-left: 100px;
  box-shadow: 0 0 10px 0 black;
  /* box-shadow: 0 0 10px 0 purple; */
  border: #000 solid;
  /* top: 19%;
  left: 50%; */
  /* transform: translate(0%, -50%); */

  float: left;
  border-radius: 2em;
}
form {
  margin: 35px;
  height: 450px;
}
.contactform {
  margin: 35px;
  height: 400px;
}
label {
  color: black;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 14px;
  border: 1px solid black;
  outline: none;
  content: '*';
  color: black;
}
/* css Middle box Schedule  */
.SchButtom {
  width: 290px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 14px;
  border: 1px solid black;
  outline: none;
  color: black;
  margin-left: 10px;
  font-size: medium;
}

.SchButtom {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(5, 5, 5);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.SchButtom:hover {
  background-color: rgb(10, 240, 133);
}

.SchButtom:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.LOGIN {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 18px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.Submit {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 18px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

/* Speech of Text */
#overlay {
  width: 80%;
  margin: 3% auto;
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  color: green;
}

input[class='contactOne'],
select,
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  content: '*' red;
}

input[type='submit']:hover {
  background-color: purple;
}
button[type='submit']:hover {
  background-color: purple;
}
.contactContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contactform {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
#Meetings_Log {
  color: black;
  border-color: red;
}

tr {
  border: 2px solid red;
}

th {
  color: black;
  border: 2px solid red;
}
td {
  color: black;
  border: 2px solid red;
}
#copyright {
  color: black;
}

/* Triangle Buttom */
.triangle {
  width: 0;
  height: 0;
  border: solid 20px transparent;
  border-color: transparent black transparent transparent;
  float: left;
  margin-left: 20px;
}
.triangle2 {
  width: 0;
  height: 0;
  border: solid 20px;
  border-color: transparent transparent transparent black;
  float: left;
  margin-left: 20px;
}
.SchButtom2 {
  width: 290px;
  height: 40px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 14px;
  border: 1px solid black;
  outline: none;
  color: black;
  margin-left: 30px;
  font-size: medium;
  float: left;
}

.need-help {
  background-color: #000;
  /* width: 100px; */
  height: 200px;
  padding: 15px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}
