address, article, aside, blockquote, body, div, dl, dt, dd, em, figcaption, figure, cite, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul{
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding:0;
    vertical-align:baseline;
}

nav ul{
    list-style: none;
    list-style-image:none;
}

nav a{
    text-decoration:none;
}

body{
    line-height:1;
}